backend/target/
backend/build/

backend/*.log

backend/*.class
backend/*.jar
backend/*.war

backend/out/

backend/.idea/
backend/*.iml

backend/.classpath
backend/.project
backend/.settings/

backend/tmp/
backend/temp/

frontend/node_modules/

frontend/build/

frontend/.npm
frontend/.eslintcache


frontend/package-lock.json

frontend/.idea/
frontend/.vscode/

